<!-- Heading -->
<h1>Editting chosen animal</h1>
<!-- Will bring out a form with all information about the animal -->
<!-- It will allow the animal to be edited if needed -->
<%= erb(:"zoo/form", :layout => false) %>
