      <!-- Header -->
      <h1>Add New Animal</h1>
    </div>
    <!-- Zoo folder will be use for individual website, not all of them-->
    <%= erb(:"animals/form", :layout => false) %>
    <section id="login" class="saveArea">
      <div id="popupForm" class="model saveContents">
        <h4>Save successful</h4>
      </div>
    </section>
  </body>
  <script type="text/javascript" src="javascript/javascript.js"></script>
</html>
