<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="heading">
    <!-- partials folder will be use for all website-->
    <%= erb(:'partials/navigation', :layout => false) %>
    <!-- The yeild function is used to connect to the post_controller to retrieve what the page should look like -->
    <!-- The controller would then access the post_controller and retreive where to find the layout -->
    <!-- yield acts like a placeholder for the filler text -->
    <%= yield %>
  
